<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Vestido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="vestido">
    <ion-slides pager="true" [options]="slideOpts" (click)="ampliarFotos(vestido.fotos)">
      <ion-slide *ngFor="let foto of vestido.fotos">
        <img src="{{foto}}" />
      </ion-slide>
    </ion-slides>

    <div class="card">
      <div class="text">
        <h1>{{vestido.nome}}</h1>
        <h5>Tamanho {{vestido.tamanho}}</h5>
        <h6>{{vestido.preco | currency: 'R$'}}</h6>
        <p>{{vestido.descricao}}</p>
      </div>
    </div>

  </div>

</ion-content>