<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Vestidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="carregando" class="carregando">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<ion-content *ngIf="!carregando">
  <ion-card *ngFor="let vestido of vestidos">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let foto of vestido.fotos">
        <img src="{{foto}}" />
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>{{vestido.preco}}</ion-card-subtitle>
      <ion-card-title>{{vestido.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{vestido.descricao}}
    </ion-card-content>
  </ion-card>
</ion-content>