.welcome-card img {
  max-height: 70%;
  overflow: hidden;
}

.carousel-card img {
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

ion-card-header.md.hydrated {
  max-height: 10vh;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
