<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/vestidos.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Olá, Fulan@!</ion-card-subtitle>
        <ion-card-title>Bem-Vind@, fique à vontade!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Confira nosso catálogo de vestidos e, caso escolha um, conte com a gente para levá-lo até você!</p>
      </ion-card-content>
    </ion-card>
</ion-content>
